*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url(../imagens/fundocep2.jpg);
    background-size: 1900px;
    background-position: top;
}
a{
    color: black;
    width: 500px;
}
div{
    text-align: center;
}
legend{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
input{
    width: 200px;
    border: solid 3px ;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
}
label{
    margin: auto;
    font-size: 25px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}
h6{
    font-size: 25px;
    margin-top: 15px;
}
footer{
    margin-top: 185px;
    text-align: center;
    border-top: solid 4px black;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

#area{
    border: 4px solid ;
    text-align: center;
    width: 300px;
    margin:auto;
    background-color: white;

}
#usuario{
    text-align: center;
    margin: auto;
    width: 420px ;
    border: solid 3px black;
    background-color: white;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top:40px; 
    font-family: 'Poppins', sans-serif;
}
#links{
    justify-content: center;
    display: flex;
    flex-direction:row ;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    background-color: white;    
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;  
}
#links :hover{
    color: grey;
}